:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    transition:
        color 0.5s,
        background-color 0.5s;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    height: fit-content;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

input {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    height: fit-content;
    box-sizing: border-box;
}

input[type='text']:hover {
    border-color: #646cff;
}

input[type='text']:focus,
input[type='text']:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.card {
    padding: 2em;
}

select {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    height: fit-content;
    background: #1a1a1a;
}

select :hover {
    border-color: #646cff;
}

select:focus,
select:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

option {
    background: #1a1a1a;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    height: fit-content;
    box-sizing: border-box;
}

option :hover {
    border-color: #646cff;
}

option:focus,
option:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }

    input {
        background-color: #f9f9f9;
    }

    select {
        background-color: #f9f9f9;
    }

    option {
        background-color: #f9f9f9;
    }
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.1s;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

.span-skeleton {
    background: #747bff11;
    border-radius: 2em;
    width: 100%;
    height: 1.5em;
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
    transition: all 0.25s;
}

.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
    position: absolute;
}

details summary {
    cursor: pointer;
}

details summary:hover {
    color: #646cff;
    user-select: none;
}
